.wrapper {
    width: 100%;
    height: auto;
    padding: 10px;
}


.title {
    font-size: 40px;
    color: #FFFFFF;
    text-align: center;
    line-height: 48px;
}

.todoInputSec {
    width: 100%;
    height: auto;
    margin: 0 0 50px 0;
}

.todosSec {
    height: 300px;
    overflow: scroll;
}
.todos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}