.deleteButton {
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    background-color: transparent;
    background-image: url('../../../assets/trash\ 1.svg');
    cursor: pointer;
}

.deleteButton:hover {
    opacity: 0.6;
}